<form action="/user/signup" method="post" class="signup">
  <div class="signup_card">

    <input class="input" required="required" type="text" name="name" placeholder="Введите имя">
    <input class="input" required="required" type="email" name="email" placeholder="Введите email">
    <input class="input" required="required" type="password" name="password" placeholder="Введите пароль">
    <button class="signup_button" type="submit">Зарегистрироваться</button>

  </div>
</form>
